# Ignore docs files
_gh_pages

# Ignore ruby files
.ruby-version
.bundle
vendor/cache
vendor/bundle

# Numerous always-ignore extensions
*.log
*.orig
*.zip

# OS or Editor folders
._*
.cache
.DS_Store

# grunt-contrib-sass cache
.sass-cache

# Folders to ignore
node_modules
