/* CONTENT */
.content-3{
  position: relative;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FCF8E3;
  font-size: 26px;
  font-weight: 300;

  .btn{
    margin-left: 30px;
    @include media-breakpoint-down(md) {
      margin-top: 10px;
      margin-left: 0px;
    }
  }
  span{
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}
