////////////////////////
// LANDING PAGE
////////////////////////

#slabs-landing {
  #welcome-to-slabs {
    padding-top: 70px;
    padding-bottom: 70px;
    p{
      margin-bottom: 25px;
    }
  }
}

#docs-nav{
  margin-bottom: 0px;
  .navbar-brand{
    padding: 10px 15px;
    img{ height: 30px; }
  }
}
